<form method=post action='/post'>
    <b>Title: </b><br />
    <input type="text" name="title" size="104"/>
    <br />
    <b>Content</b><br />
    <textarea name="content" rows="30" cols="80"></textarea>
    <br />
  <input type=submit value=Postar>
</form>


